.base {
  padding: 8px 16px;
  background-color: rgb(var(--sl-color-neutral-0));
}

.header {
  padding: 8px 0 10px 0;
}

.title {
  font-size: var(--sl-font-size-large);
}

::slotted(cp-tabs)::part(base) {
  border: 2px solid red;
}
