.field-wrapper {
  display: flex;
  flex-direction: var(--c-label-and-field-flex-direction, column);
  white-space: nowrap;
}

.label {
  min-width: var(--c-label-and-field-label-width, auto);
  max-width: var(--c-label-and-field-label-width, auto);
  text-align: var(--c-label-and-field-label-text-align, left);
  padding: 3px 4px 3px 0;
  white-space: normal;
  font-size: var(--sl-font-size-medium);
  color: var(--sl-input-label-color);
}

.label:after {
  padding: 0 7px;
  content: '';
  margin: 0 7px 0 0;
}

.required .label:after {
  color: rgb(var(--sl-color-danger-700));
  padding: 0 4px;
  font-size: 15px;
  content: '*';
}

.error {
  margin: 2px 0;
  color: rgb(var(--sl-color-danger-700));
  font-size: var(--sl-font-size-small);
}
