.base {
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  xxxborder-radius: 6px;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: var(--sl-font-size-medium);
  margin: 0 0 0.25rem 0;
  xfont-style: italic;
  font-weight: 400;
}

.separator1 {
  width: 1rem;
  height: 0.5px;
  border: none !important;
  background-color: var(--sl-color-neutral-300);
}

.separator2 {
  flex-grow: 1;
  height: 0.5px;
  border: none !important;
  background-color: var(--sl-color-neutral-300);
}

.caption {
  font-size: var(--sl-font-size-small);
  padding: 0 0.5rem;
  font-weight: 400;
}

.content {
  display: flex;
  padding: 8px 16px;
  gap: 24px;
}
