.base {
  xxxbackground-color: rgb(var(--sl-color-neutral-50));
  margin-bottom: 8px;
  padding: 0.125rem 1rem;
  xxxborder-radius: 6px;
}

.caption {
  margin: 4px 0 4px 0;
  padding: 0 8px 1px 6px;
  color: rgb(var(--sl-color-neutral-900));
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
}

.caption:empty {
  display: none;
}

.content {
  display: flex;
  padding: 8px 16px;
  gap: 24px;
}
