.base {
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  xxxborder-radius: 6px;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  user-select: none;
  background-color: var(--sl-color-neutral-0);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: var(--sl-font-size-medium);
  margin: 0 0 0.25rem 0;
  font-weight: 400;
}

.separator1,
.separator2 {
  font-size: var(--sl-font-size-small);
  width: 1rem;
  height: 1px;
  max-height: 1px;
  overflow: hidden;
  border: none !important;
  background-color: var(--sl-color-neutral-300);
  opacity: 80%;
}

.separator1 {
  width: 1.25rem;
}

.separator2 {
  flex-grow: 1;
}

.caption {
  font-size: var(--sl-font-size-small);
  padding: 0 0.5rem;
  font-weight: 400;
  margin-bottom: 2px;
  background-color: var(--sl-color-neutral-50);
  border-radius: 4px;
  padding: 2px 7px 3px 7px;
  margin: 0 5px 2px 5px;
  border: 1px solid var(--sl-color-neutral-300);
}

.content {
  display: flex;
  padding: 8px 16px;
  gap: 24px;
}
