.datepicker {
  color: rgb(var(--sl-color-neutral-1000));
  z-index: 32000;
}

.datepicker-picker {
  background-color: rgb(var(--sl-color-neutral-0));
}

.datepicker,
.button {
  font-family: var(--sl-font-sans);
}

.datepicker,
.datepicker .button,
.datepicker-view .dow,
.datepicker-view .week {
  font-size: var(--sl-font-size-small);
}

.datepicker-view {
  width: 290px !important;
}

.datepicker-view .dow {
  height: 1.75em;
  line-height: 1.75em;
  font-weight: bold;
}

.datepicker-view .week,
.datepicker-cell {
  height: 1.75em;
  line-height: 1.75em;
  padding: 0 0 2px 0;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  height: 4em;
  line-height: 4em;
}

.datepicker-header .datepicker-controls .button {
  padding: 0 0 2px 0;
}

.datepicker-cell.today:not(.selected):not(.disabled) {
  color: inherit;
}

.datepicker-cell.today:not(.selected),
.datepicker-cell.today.focused:not(.selected) {
  background-color: rgb(var(--sl-color-success-100));
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: rgb(var(--sl-color-primary-500));
}

.datepicker-controls .button {
  cursor: pointer;
  color: rgb(var(--sl-neutral-1000));
  background-color: rgb(var(--sl-color-neutral-0));
}

.datepicker-controls .button:hover,
.datepicker-controls .button:focus {
  background-color: rgb(var(--sl-color-primary-100));
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  background-color: var(--sl-light, rgb(var(--sl-color-neutral-100)))
    var(--sl-dark, rgb(var(--sl-color-neutral-200)));
}

.datepicker-dropdown .datepicker-picker {
  box-shadow: var(
      --sl-light,
      0 2px 3px rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.1)
    )
    var(--sl-dark, none);

  border: var(--sl-light, none)
    var(--sl-dark, 1px solid rgb(var(--sl-color-neutral-300)));
}

.datepicker-cell:not(.disabled):hover {
  background-color: rgb(var(--sl-color-primary-200));
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: rgb(var(--sl-color-primary-200));
}

.datepicker-cell:not(.disabled):hover {
  background-color: rgb(var(--sl-color-primary-200));
}

.datepicker-cell.focused:not(.selected) {
  background-color: rgb(var(--sl-color-neutral-300));
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: rgb(var(--sl-color-neutral-300));
}

.datepicker-view .dow {
  text-transform: capitalize;
  font-weight: var(--sl-font-weight-semibold);
}

.datepicker .view-switch {
  text-transform: capitalize;
}

.datepicker-cell.month {
  text-transform: capitalize;
}

.datepicker-cell.day.range {
  background-color: rgb(var(--sl-color-neutral-300));
}

.datepicker-cell.day.range:hover {
  background-color: rgb(var(--sl-color-neutral-400)) !important;
}
