.base {
  display: flex;
  position: relative;
}

.picker-container {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
}

sl-input {
  position: relative;
  width: 280px;
}

.calendar-icon:hover {
  color: rgb(var(--sl-color-primary-500));
  cursor: pointer;
}
