.base {
  display: flex;
}

.datepicker-container {
  position: relative;
}

sl-input {
  position: relative;
  width: 280px;
}

/* === datepicker === */

.datepicker {
  left: 0 !important;
}

.datepicker,
.button {
  font-family: var(--sl-font-sans);
}

.datepicker,
.datepicker .button,
.datepicker-view .dow,
.datepicker-view .week {
  font-size: var(--sl-font-size-small);
}

.datepicker-view {
  width: 290px !important;
}

.datepicker-view .dow {
  height: 1.75em;
  line-height: 1.75em;
  font-weight: bold;
}

.datepicker-view .week,
.datepicker-cell {
  height: 1.75em;
  line-height: 1.75em;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  height: 4em;
  line-height: 4em;
}

.datepicker-cell.today:not(.selected),
.datepicker-cell.today.focused:not(.selected) {
  background-color: rgb(var(--sl-color-primary-300));
}
