.base {
  display: flex;
  align-items: stretch;
  border-width: 1px;
  border-style: solid;
  font-size: var(--sl-font-size-medium);
  border-radius: var(--sl-border-radius-medium);
}

.base.variant-info {
  color: var(--sl-color-primary-950);
  background-color: var(--sl-color-primary-100);
}

.base.variant-info,
.base.variant-info .column1 {
  border-color: var(--sl-color-primary-200);
}

.base.variant-success {
  color: var(--sl-color-success-950);
  background-color: var(--sl-color-success-100);
}

.base.variant-success,
.base.variant-success .column1 {
  border-color: var(--sl-color-success-300);
}

.base.variant-warning {
  color: var(--sl-color-warning-950);
  background-color: var(--sl-color-warning-200);
}

.base.variant-warning,
.base.variant-warning .column1 {
  border-color: var(--sl-color-warning-300);
}

.base.variant-danger {
  color: var(--sl-color-danger-900);
  background-color: var(--sl-color-danger-100);
}

.base.variant-danger,
.base.variant-danger .column1 {
  border-color: var(--sl-color-danger-200);
}

.column1 {
  display: flex;
  flex-grow: 0;
  border-width: 0 1px 0 0;
  border-style: solid;
  padding: 0.4rem 0.75rem;
  align-items: center;
}

.column2 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0.4rem 0.75rem;
}

.icon {
  font-size: 125%;
}
