.base {
  background-color: rgb(var(--sl-color-neutral-50));
  border: 0 solid rgb(var(--sl-color-neutral-300));
  border-width: 0 1px 0 0;
  min-width: 14rem;
  max-width: 14rem;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

sl-details::part(base) {
  border-width: 1px 0 0 0;
}

sl-details::part(header) {
  padding: 0.6rem 1rem 0.4rem 1.5rem;
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
}

sl-details::part(content) {
  padding: 0;
}

sl-menu::part(base) {
  padding: 0 0 0.75rem 0;
}

sl-menu-item::part(label)::before {
  content: '•';
}

sl-menu-item::part(base) {
  margin: 2px 0;
  padding: 0.3rem 2rem;
  font-size: var(--sl-font-size-medium);
  white-space: normal;
  line-height: calc(var(--sl-font-size-medium) + 5px);
}

sl-menu-item::part(base):hover {
  color: rgb(var(--sl-color-neutral-950));
  background-color: rgb(var(--sl-color-neutral-200));
}
