.base {
  color: rgb(var(--sl-color-neutral-1000));
  background-color: rgb(var(--sl-color-neutral-50));
  border: 0 solid rgb(var(--sl-color-neutral-300));
  border-width: 0 1px 0 0;
  min-width: 16rem;
  max-width: 16rem;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  user-select: none;
}

/* === uncollapsible ============================================== */

.uncollapsible {
  margin-top: 0.3rem;
}

.uncollapsible .group-header {
  font-weight: 600;
  padding: 0.5rem 1rem 0.25rem 1rem;
}

.uncollapsible .item {
  padding: 0.25rem 2rem;
  cursor: pointer;
}

.uncollapsible .item.active {
  padding: 0.25rem 2rem 0.25rem calc(2rem - 3px);
  background-color: rgb(var(--sl-color-primary-200));
  border: 0 solid rgb(var(--sl-color-primary-600));
  border-left-width: 3px;
  box-sizing: border-box;
  cursor: default;
}

.uncollapsible .item:not(.active):hover {
  background-color: rgb(var(--sl-color-primary-200));
}

/* === collapsible ================================================ */

sl-details::part(base) {
  border-width: 0 0 1px 0;
  border-radius: 0;
}

sl-details::part(header) {
  padding: 0.6rem 1rem 0.4rem 1.5rem;
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
}

sl-details::part(content) {
  padding: 0;
}

sl-menu::part(base) {
  padding: 0 0 0.8rem 0;
}

sl-menu-item::part(label)::before {
  position: relative;
  content: '⤷';
  content: 'ᐅ';
  content: '▪';
  top: -1px;
  margin-left: -13px;
  margin-left: -9px;
  font-size: 12px;
  color: rgb(var(--sl-color-primary-500));
}

sl-menu-item::part(label) {
  position: relative;
  left: 14px;
}

sl-menu-item::part(base) {
  margin: 2px 0;
  padding: 0.15rem 2rem;
  font-size: var(--sl-font-size-medium);
  white-space: normal;
  line-height: calc(var(--sl-font-size-medium) + 5px);
}

sl-menu-item::part(base):hover {
  color: rgb(var(--sl-color-primary-950));
  background-color: rgb(var(--sl-color-primary-200));
}

sl-menu-item::part(base):active {
  color: rgb(var(--sl-color-primary-950));
  background-color: rgb(var(--sl-color-primary-100));
}

.menu-header {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
  color: #000000;
  padding: 4px 4px;
  background-color: rgb(var(--sl-color-neutral-100));
  border: 0 solid rgb(var(--sl-color-neutral-300));
  border-width: 0 0 1px 0;
}

.menu-caption {
  flex-grow: 1;
}

.collapse-button:not(:hover)::part(base) {
  background-color: transparent;
  border: none;
}

.collapse-icon {
  height: 24px;
  width: 24px;
  color: rgb(var(--sl-color-primary-600));
}
