.base {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-normal);
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--sl-color-neutral-0);
  background-color: rgb(60 70 78);
  min-width: 13rem;
  max-width: 16rem;
  user-select: none;
}

.content {
  flex-grow: 1;
  background-color: var(--sl-color-neutral-100);
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 1rem 1.75rem 1rem;
}

.brand-title {
  font-weight: var(--sl-font-weight-light);
  margin: 0 0.25rem;
}

.brand-subtitle {
  font-weight: var(--sl-font-weight-normal);
  margin: 0 0.25rem;
}

.avatar-icon {
  font-size: 250%;
  color: var(--sl-color-neutral-300);
  background-color: var(--sl-color-neutral-100);
  border-radius: 50%;
  padding: 0.5rem;
}

.user-menu-trigger:hover .avatar-icon {
  color: var(--sl-color-primary-400);
  background-color: var(--sl-color-primary-200);
}

.user-menu-trigger:hover .user-display-name {
  color: var(--sl-color-neutral-0);
}

.user-menu {
  align-self: stretch;
  cursor: pointer;
  text-align: center;
  margin: 0 0 2rem 0;
}

.user-menu-trigger {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-menu-info {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--sl-color-neutral-400);
}

.user-menu-trigger:hover .user-menu-info {
  color: var(--sl-color-neutral-0);
}

.user-menu-caret {
  font-size: 80%;
}

.user-menu-items {
  text-align: center;
  align-self: center;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-menu-item {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  color: var(--sl-color-neutral-400);
}

.main-menu-item:not(.main-menu-item-active):hover {
  color: var(--sl-color-neutral-0);
  background-color: rgb(42 52 60);
  cursor: pointer;
}

.main-menu-item:not(.main-menu-item-active):active {
  color: var(--sl-color-neutral-0);
  background-color: var(--sl-color-primary-800);
}

.main-menu-item-active {
  color: var(--sl-color-neutral-0);
  background-color: rgb(46 56 64);
}

.main-menu-item-icon {
  width: 2rem;
}

.main-menu-item-active .main-menu-item-icon {
  color: var(--sl-color-primary-700);
}
