.base {
  display: inline-block;
  font-family: var(--sl-font-sans);
  user-select: none;
}

.content {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.content .logo {
  width: 26px;
  height: 26px;
}

.content.multi-color .logo {
  color: rgb(var(--sl-color-primary-600));
}

.content.small .logo {
  width: 22px;
  height: 22px;
}

.content.large .logo {
  width: 30px;
  height: 30px;
}

.content.huge .logo {
  width: 36px;
  height: 36px;
}

.vendor-and-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 6px;
  gap: 2px;
}

.vendor {
  font-size: 14px;
  line-height: 100%;
  white-space: nowrap;
}

.content.small .vendor {
  font-size: 12px;
}

.content.large .vendor {
  font-size: 16px;
}

.content.huge .vendor {
  font-size: 20px;
}

.title {
  font-size: 20px;
  line-height: 100%;
  white-space: nowrap;
}

.content.small .title {
  font-size: 16px;
}

.content.large .title {
  font-size: 24px;
}

.content.huge .title {
  font-size: 28px;
}
