.base {
  position: relative;
  font-family: var(--sl-font-sans);
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: rgb(var(--sl-color-neutral-1000));
  background-color: rgb(var(--sl-color-neutral-0));
  font-size: var(--sl-font-size-medium);
  user-select: none;
  z-index: 1000;
}

.page-number-input {
  display: inline-block;
  width: 4rem;
}

.pagination {
  display: flex;
  align-items: center;
}

.page-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
}

.nav-button {
  width: 30px;
  margin: 2px;
}

.nav-button::part(base) {
  border-color: transparent;
  padding: 0;
}

.nav-button:hover::part(base) {
  border-color: rgb(var(--sl-color-primary-300));
}

.page-size-selector {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}
