.jsc-dataTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: default;
  user-select: none;
}

.jsc-dataTable-th {
  padding: 3px 5px;
  font-weight: 600;
}

.jsc-dataTable-th > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.jsc-dataTable-th--unsorted,
.jsc-dataTable-th--sorted-asc,
.jsc-dataTable-th--sorted-desc,
.jsc-dataTable-th--unsorted *,
.jsc-dataTable-th--sorted-asc *,
.jsc-dataTable-th--sorted-desc * {
  cursor: pointer;
}

.jsc-dataTable-selectAllCheckbox,
.jsc-dataTable-selectRowCheckbox {
  cursor: pointer;
}

.jsc-dataTable-td {
  padding: 3px 5px !important;
}

.jsc-dataTable-selectionColumn {
  position: relative;
  text-align: center;
}
