.x-dataTable {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: Metropolis, Selawik, 'Segoe UI', Tahoma, Lato, Roboto,
    'Open Sans', 'Liberation Sans', Arial, Helvetica, sans-serif;
  font-size: 12pt;
  cursor: default;
  user-select: none;
}

.x-dataTable-th {
  border: 0 solid #ddd;
  border-bottom-width: 1px;
  padding: 3px 5px;
  font-weight: 600;
}

.x-dataTable-th {
  border-style: 0 solid #ddd;
  border-left-width: 1px;
}

.x-dataTable-th--unsorted,
.x-dataTable-th--sorted-asc,
.x-dataTable-th--sorted-desc {
  cursor: pointer;
}

.x-dataTable-th--unsorted:hover,
.x-dataTable-th--sorted-asc:hover,
.x-dataTable-th--sorted-desc:hover {
  background-color: #f4f4f4;
}

.x-dataTable-th--sorted-asc > label {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='currentColor' stroke-width='2' stroke-miterlimit='10'%3E%3Cpolyline stroke-linejoin='bevel' points='20,40 32,56 44,40 '/%3E%3Cpolyline stroke-miterlimit='10' points='32,16 32,56'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg width="20px" height="20px" viewBox="0 0 64 64">
      <g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
        <polyline stroke-linejoin="bevel" points="20,40 32,56 44,40 "/>
        <polyline stroke-miterlimit="10" points="32,16 32,56"/>
      </g>
    </svg>
  */
}

.x-dataTable-th--sorted-desc > label {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='currentColor' stroke-width='2' stroke-miterlimit='10'%3E%3Cpolyline stroke-linejoin='bevel' points='20,32 32,16 44,32 '/%3E%3Cpolyline stroke-miterlimit='10' points='32,16 32,56'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg width="20px" height="20px" viewBox="0 0 64 64">
      <g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
        <polyline stroke-linejoin="bevel" points="20,32 32,16 44,32 "/>
        <polyline stroke-miterlimit="10" points="32,16 32,56"/>
      </g>
    </svg>
  */
}

.x-dataTable-th--unsorted > label {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.2' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='currentColor' stroke-width='2' stroke-miterlimit='10'%3E%3Cpolyline stroke-linejoin='bevel' points='7,32 19,16 32,32 '/%3E%3Cpolyline stroke-miterlimit='10' points='19,16 19,56'/%3E%3Cpolyline stroke-linejoin='bevel' points='33,40 45,56 57,40 '/%3E%3Cpolyline stroke-miterlimit='10' points='45,16 45,56'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 28px;

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg opacity="0.2" width="20px" height="20px" viewBox="0 0 64 64">
      <g fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10">
        <polyline stroke-linejoin="bevel" points="7,32 19,16 32,32 "/>
        <polyline stroke-miterlimit="10" points="19,16 19,56"/>      
        <polyline stroke-linejoin="bevel" points="33,40 45,56 57,40 "/>
        <polyline stroke-miterlimit="10" points="45,16 45,56"/>
      </g>
    </svg>

  */
}

.x-dataTable-selectAllCheckbox,
.x-dataTable-selectRowCheckbox {
  cursor: pointer;
}

.x-dataTable-tr:first-child > td {
  border: 0 solid #ddd;
}

.x-dataTable-tr:nth-child(even) {
  background-color: #f6f6f6;
}

.x-dataTable-tr--selected {
  background-color: #a0d8e8;
}

.x-dataTable-tr:nth-child(even).x-dataTable-tr--selected {
  background-color: #b0e8f8;
}

.x-dataTable-td--sorted {
  background-color: #f8f8f8;
}

.x-dataTable-tr:nth-child(even) > .x-dataTable-td--sorted {
  background-color: #f0f0f0;
}

.x-dataTable-tr.selected > .x-dataTable-td.sorted {
  background-color: #92cada;
}

.x-dataTable-tr:nth-child(even).x-dataTable-tr--selected
  > .x-dataTable-td--sorted {
  background-color: #a6e0ed;
}

.x-dataTable-tr:last-child > .x-dataTable-td {
  border-bottom-width: 1px;
}

.x-dataTable-td {
  padding: 3px 5px;
}
