.base {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px 0;
}

.base.horizontal .content {
  flex-direction: row;
}
