.jsc-datePicker {
  display: inline-block;
  position: relative;
}

.jsc-datePicker-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
}

.jsc-datePicker-viewBody {
  height: 100%;
}

.jsc-datePicker-viewBody table {
  width: 100%;
}

.jsc-datePicker-navi {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 8px 0;
}

.jsc-datePicker-navi > button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.jsc-datePicker-navi > button:first-child {
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.jsc-datePicker-view:not(.jsc-datePicker-view--main) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jsc-datePicker-tableOfDays {
  width: 100%;
  border-collapse: collapse;
}

.jsc-datePicker-tableOfDays td,
.jsc-datePicker-tableOfDays th {
  font-weight: normal;
  text-align: center;
  padding: 6px;
}

.jsc-datePicker-weekNumber {
  padding-right: 8px !important;
}

.jsc-datePicker-tableOfMonths > tbody > tr > td,
.jsc-datePicker-tableOfYears > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  padding: 10px 5px;
}
