.base {
  position: relative;
  font-family: var(--sl-font-sans);
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--sl-font-size-medium);
}

base.bordered {
  border: 1px solid rgb(var(--sl-color-neutral-300));
}

.scroll-pane {
  position: absolute;
  xposition: relative;
  height: 100%;
  width: 100%;
  xheight: inherit;
  xheight: inherit;
  overflow: auto;
}

.yyy {
  position: relative;
  height: 482px;
  xoverflow: hidden;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: rgb(var(--sl-color-neutral-0));
}

table > thead th {
  align-items: center;
  border: 1px solid rgb(var(--sl-color-neutral-300));
  padding: 2px 10px;
  font-weight: var(--sl-font-weight-normal);
  color: rgb(var(--sl-color-neutral-1000));
}

table > thead th.sortable:hover {
  cursor: pointer;
}

table > thead th.sortable:hover {
  color: rgb(var(--sl-color-primary-950));
  background-color: rgb(var(--sl-color-primary-200));
}

table > thead th.sortable:active {
  background-color: rgb(var(--sl-color-primary-300));
}

table > thead th .content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

table > thead th .icon {
  width: 18px;
  height: 18px;
}

table > tbody > tr > td {
  padding: 2px 6px;
  background-color: rgb(var(--sl-color-neutral-0));
  color: rgb(var(--sl-color-neutral-1000));
}

table > tbody > tr:nth-child(even) td {
  background-color: rgb(var(--sl-color-neutral-100));
}

.selector-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector-column .checkbox {
}

.row > td {
  padding: 4px 5px;
  box-sizing: border-box;
}

.row.selected-row {
  border-color: rgb(var(--sl-color-primary-400));
  border-style: solid;
  border-width: 0.5px 0;
}

.row.selected-row > td {
  background-color: rgb(var(--sl-color-primary-200));
}
