:host {
  background-color: yellow;
}

.test {
  background-color: yellow;
}

.base {
  display: block;
  font-family: var(--sl-font-sans);
  user-select: none;
  xheight: 200px;
  xoverflow-x: hidden;
  xoverflow-y: hidden;
  overflow: auto;
}

.container {
}

.scroll-pane {
  position: abolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

container.bordered {
  border: 1px solid rgb(var(--sl-color-neutral-300));
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: rgb(var(--sl-color-neutral-0));
}

table > thead th {
  align-items: center;
  border: 1px solid rgb(var(--sl-color-neutral-300));
  padding: 2px 10px;
  font-weight: var(--sl-font-weight-normal);
  font-size: var(--sl-font-size-xxl);
  color: rgb(var(--sl-color-neutral-1000));
}

table > thead th.sortable:hover {
  cursor: pointer;
}

table > thead th.sortable:hover {
  background-color: rgb(var(--sl-color-neutral-200));
}

table > thead th.sortable:active {
  background-color: rgb(var(--sl-color-primary-200));
}

table > thead th .content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

table > thead th .icon {
  width: 18px;
  height: 18px;
}

table > tbody > tr > td {
  padding: 2px 6px;
  background-color: rgb(var(--sl-color-neutral-0));
  color: rgb(var(--sl-color-neutral-1000));
}

table > tbody > tr:nth-child(2n) td {
  background-color: rgb(var(--sl-color-neutral-100));
}

.selector-column {
  position: relative;
  width: 9px;
  overflow: hidden;
  text-align: center;
}

.selector-column .checkbox {
  position: absolute;
  top: 0;
  left: 7px;
}
