:host {
  height: 200px;
}

.base {
  position: relative;
  height: 100%;
  display: flex;
  font-family: var(--sl-font-sans);
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--sl-font-size-medium);
}

.base.bordered {
  border: 1px solid var(--sl-color-neutral-300);
  border-collapse: collapse;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.head-table {
  flex-grow: 0;
}

.body-table {
  flex-grow: 1;
}

.scrollpane-container {
  position: relative;
  flex-grow: 1;
}

.scrollpane {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: var(--sl-color-neutral-0);
}

table.head-table > thead > tr {
  border-bottom: 1px solid var(--sl-color-primary-600);
}

table.head-table > thead > tr > th {
  align-items: center;
  border: 0.8px solid var(--sl-color-neutral-200);
  border-bottom-width: 0;
  padding: 0.15rem 10px;
  font-weight: var(--sl-font-weight-semibold);
  color: var(--sl-color-neutral-1000);
  background-color: var(--sl-color-neutral-50);
  white-space: nowrap;
}

table.head-table > thead th.sortable:hover {
  cursor: pointer;
}

table.head-table > thead th.sortable:hover {
  color: var(--sl-light, var(--sl-color-primary-950))
    var(--sl-dark, var(--sl-color-primary-50));

  background-color: var(--sl-color-primary-200);
  border-color: var(--sl-color-primary-400);
}

table.head-table > thead th.sortable:active {
  background-color: var(--sl-color-primary-300);
}

table.head-table > thead > tr > th .content {
  padding: 3px 2px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

table.head-table > thead > tr > th .icon {
  width: 18px;
  height: 18px;
}

table.body-table > tbody > tr > td {
  padding: 0;
  text-align: left;
  vertical-align: middle;
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-1000);
  box-sizing: border-box;
}

table.body-table > tbody > tr > td .content {
  padding: 2px 3px;
}

table.body-table > tbody > tr:nth-child(even) > td {
  background-color: var(--sl-color-neutral-50);
}

.selector-column {
  text-align: center;
  vertical-align: middle;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

th.selector-column > sl-checkbox {
  transform: translate(3px, 0);
}

td.selector-column > sl-checkbox {
  transform: translate(15px, 0);
}

thead > tr > th,
tbody > tr > td {
  box-sizing: border-box;
}

.row.selected-row {
  padding: 0;
  border-color: var(--sl-color-primary-300);
  border-style: solid;
  border-width: 0.5px 0;
}

.row.selected-row > td {
  background-color: var(--sl-color-primary-100) !important;
}
