.x-paginationBar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
}

.x-paginationBar-paginator {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 2px 4px;
}

.x-paginationBar-pageInput {
  margin: 0 5px;
}

.x-paginationBar-moveToFirstPage,
.x-paginationBar-moveToPreviousPage,
.x-paginationBar-moveToNextPage,
.x-paginationBar-moveToLastPage {
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
}

.x-paginationBar-moveToFirstPage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg%3E%3Cpolyline fill='none' stroke='currentColor' strokeWidth='2' strokeLinejoin='bevel' strokeMiterlimit='10' points='32.936,48.936 15.936,31.936 32.936,14.936'/%3E%3C/g%3E%3Cg%3E%3Cpolyline fill='none' stroke='currentColor' strokeWidth='2' strokeLinejoin='bevel' strokeMiterlimit='10' points='47.936,48.936 30.936,31.936 47.936,14.936'/%3E%3C/g%3E%3C/svg%3E");

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg width="20px" height="20px" viewBox="0 0 64 64">
      <g>
        <polyline fill="none" stroke="currentColor" strokeWidth="2" strokeLinejoin="bevel" strokeMiterlimit="10" points="32.936,48.936 
          15.936,31.936 32.936,14.936"/>
      </g>
      <g>
        <polyline fill="none" stroke="currentColor" strokeWidth="2" strokeLinejoin="bevel" strokeMiterlimit="10" points="47.936,48.936 
          30.936,31.936 47.936,14.936"/>
      </g>
    </svg>
  */
}

.x-paginationBar-moveToPreviousPage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg%3E%3Cpolyline fill='none' stroke='currentColor' strokeWidth='2' strokeLinejoin='bevel' strokeMiterlimit='10' points='37,15 20,32 37,49'/%3E%3C/g%3E%3C/svg%3E");
  margin-right: 0.5em;

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg width="20px" height="20px" viewBox="0 0 64 64">
      <g>
        <polyline fill="none" stroke="currentColor" strokeWidth="2" strokeLinejoin="bevel" strokeMiterlimit="10" points="37,15 20,32 
          37,49"/>
      </g>
    </svg>
  */
}

.x-paginationBar-moveToNextPage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg%3E%3Cpolyline fill='none' stroke='currentColor' strokeWidth='2' strokeLinejoin='bevel' strokeMiterlimit='10' points='27,15 44,32 27,49'/%3E%3C/g%3E%3C/svg%3E");
  margin-left: 0.5em;

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg width="20px" height="20px" viewBox="0 0 64 64">
      <g>
        <polyline fill="none" stroke="currentColor" strokeWidth="2" strokeLinejoin="bevel" strokeMiterlimit="10" points="27,15 44,32 
          27,49"/>
      </g>
    </svg>
  */
}

.x-paginationBar-moveToLastPage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cg%3E%3Cpolyline fill='none' stroke='currentColor' strokeWidth='2' strokeLinejoin='bevel' strokeMiterlimit='10' points='31,15 48,32 31,49'/%3E%3C/g%3E%3Cg%3E%3Cpolyline fill='none' stroke='currentColor' strokeWidth='2' strokeLinejoin='bevel' strokeMiterlimit='10' points='16,15 33,32 16,49'/%3E%3C/g%3E%3C/svg%3E");

  /*
    Encode with: https://yoksel.github.io/url-encoder/

    <svg width="20px" height="20px" viewBox="0 0 64 64">
      <g>
        <polyline fill="none" stroke="currentColor" strokeWidth="2" strokeLinejoin="bevel" strokeMiterlimit="10" points="31,15 48,32 
          31,49"/>
      </g>
      <g>
        <polyline fill="none" stroke="currentColor" strokeWidth="2" strokeLinejoin="bevel" strokeMiterlimit="10" points="16,15 33,32 
          16,49"/>
      </g>
    </svg>
  */
}

.x-paginationBar-pageSizeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
}

.x-paginationBar-paginationInfo {
  flex-grow: 2;
  text-align: right;
}
