.jsc-datePicker {
  background-color: var(--sl-color-white);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
}

.jsc-datePicker-monthViewTable th,
.jsc-datePicker-monthViewTable td {
  font-size: var(--sl-font-size-small);
}

.jsc-datePicker-navi > button:first-child {
  font-size: var(--sl-font-size-medium);
}

.jsc-datePicker-weekNumber {
  border: 0 solid var(--sl-color-gray-200);
  border-right-width: 1px;
  font-weight: 500 !important;
}
